*{
    margin:0;
}

.header{
    background-color:#cfdaaa;
    padding:10px;
}

.container{
    padding:20px;
}

.input{
    display: flex;
    padding: right 10px;
}

.input{
    padding:5px 50px;
    font-size:20px;
}

.send input{
    font-size:20px;
}

.input select{
    height:36px;
}

.otuput{
    margin: 30px 10px;
}

.footer{
    background-color: #abfaff;
    text-align: center;
    padding:10px;
}